@model MessageListViewModel
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
	int count = 0;
}
<div class="container mt-5">
	<h2>Mesajlar</h2>
	<hr />
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Konu</th>
				<th scope="col">Ad Soyad</th>
				<th scope="col">E-Posta</th>
				<th scope="col">Okundu</th>
				<th scope="col">Sil</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Messages)
			{
				count++;
				<tr>
					<th scope="row">@count</th>
					<td><a asp-controller="Message" asp-action="Detail" asp-route-id="@item.MessageId">@item.Title</a></td>
					<td>@item.FullName</td>
					<td>@item.EMail</td>
					@if (item.IsRead == false)
					{
						<td class="" style="background-color:rgba(34, 139, 34, 0.1)">
							Yeni Mesaj
						</td>
					}

					else
					{
						<td>
							Okundu
						</td>
					}
					<td><a class="btn btn-danger" asp-area="Admin" asp-controller="Message" asp-action="Delete" asp-route-id="@item.MessageId">Sil</a></td>
					</tr>
					}
			</tbody>
		</table>
		<nav aria-label="Page navigation example">
					@if (Model.PageInfo.TotalPages > 1)
					{
				<ul class="pagination">
							@if (Model.PageInfo.CurrentPage > 1)
							{
						<li class="page-item"><a class="page-link text-dark" asp-area="Admin" asp-controller="Message" asp-action="Index" asp-route-page="@(Model.PageInfo.CurrentPage - 1)">&lt;</a></li>
							}
							@for (var i = 1; i <= Model.PageInfo.TotalPages; i++)
							{
						<li class="page-item"><a class="page-link text-dark" asp-area="Admin" asp-controller="Message" asp-action="Index" asp-route-page="@i">@i</a></li>
							}
							@if (Model.PageInfo.CurrentPage < Model.PageInfo.TotalPages)
							{
						<li class="page-item"><a class="page-link text-dark" asp-area="Admin" asp-controller="Message" asp-action="Index" asp-route-page="@(Model.PageInfo.CurrentPage + 1)">></a></li>
							}
				</ul>
					}
		</nav>
	</div>

	</div>