<footer id="footer">
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">Hakkımızda</h3>
						<p>@ViewBag.TopLines.AboutFooter </p>
						<ul class="footer-links">
							<li><a href="@ViewBag.TopLines.GoogleMaps"><i class="fa fa-map-marker"></i>@ViewBag.TopLines.Address</a></li>
							<li><a href="tel:@ViewBag.TopLines.Phone"><i class="fa fa-phone"></i>@ViewBag.TopLines.Phone</a></li>
							<li><a href="mailto:@ViewBag.TopLines.EMail"><i class="fa fa-envelope-o"></i>@ViewBag.TopLines.EMail</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">Bilgiler</h3>
						<ul class="footer-links">
							<li><a href="/home">Ana Sayfa</a></li>
							<li><a href="/home/product">Ürünler</a></li>
							<li><a href="/home/brand">Markalar</a></li>
							<li><a href="/home/gallery">Galeri</a></li>
							<li><a href="/home/about">Hakkımızda</a></li>
							<li><a href="/home/contact">İletişim</a></li>
						</ul>
					</div>
				</div>

				<div class="clearfix visible-xs"></div>
				<div class="col-md-3 col-xs-6">
					<div class="footer">
						<div id="footer-map">
							<iframe src="@ViewBag.TopLines.MapsFooter" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="bottom-footer" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
						Tüm Haklar Saklıdır &copy;<script>document.write(new Date().getFullYear());</script> | Üstün Ticaret

				</div>
			</div>
		</div>
	</div>
</footer>
<script src="~/electro-master/js/jquery.min.js"></script>
<script src="~/electro-master/js/bootstrap.min.js"></script>
<script src="~/electro-master/js/bootstrap.bundle.min.js"></script>
<script src="~/electro-master/js/slick.min.js"></script>
<script src="~/electro-master/js/nouislider.min.js"></script>
<script src="~/electro-master/js/jquery.zoom.min.js"></script>
<script src="~/electro-master/js/site.js"></script>
<script src="~/electro-master/js/main.js"></script>
